body{
    margin: 0;
}

h1{
    margin-top: 0;
}

div{
    background-color: #E4F9F5;

}

span{
    text-decoration: underline;
}

.mid-div{
    height: 200px;
    width: 200px;
    background-color: red;
}
.bot-div{
    height: 200px;
    width: 200px;
    background-color: blue;
}