#title{
    background-color: #ff4c68;
}

*{
    font-family: 'Montserrat-Black', sans-serif;
}

.container-fluid{
    padding: 3% 15%;
    
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    color: white;
}

.navbar{
    padding:0 0 4.5rem;
}


.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Montserrat-light", sans-serif;
    font-size: 1.2rem;   
}


.downloadbtn{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
}

.icons{
    font-size: 80px;
    color: #ff4c68;
    padding-bottom: 30px;
}

h3{
    font-family: "Ubuntu";
    font-weight: bold;
}

p{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 20px;
}

.features{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 300px;
}